.business-page {
  position: relative;
  display: grid;
  grid-template-areas: "menu body";
  grid-template-columns: 300px 1fr;
  height: fit-content;
  max-width: 1500px;
  gap: 40px;
}

.business-page>div:nth-child(2):not(.no-pd) {
  padding-top: 20px;
  padding-right: 40px;
  width: 100%;
}

.business-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.business-header a {
  color: black;
}

.business-header h2 {
  font-size: 2rem;
}