.filter-icon {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  font-weight: 600;
}

.filter-icon img {
  width: 55px;
  aspect-ratio: 1;
  padding: 3px;
  border-radius: 50%;
}

/* .filter-icon img:hover {
  background-color: #DDDDDD;
} */

.filter-icon p {
  font-size: 0.9rem;
}